<a href="https://colab.research.google.com/github/mlaricobar/MITx-6.86x-machine-learning-with-python/blob/master/Homework-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Perceptron

𝑖 	 𝑥(𝑖) 	 𝑦(𝑖) 	times misclassified
1	[-4, 2]	+1	1
2	[-2, 1]	+1	0
3	[-1, -1]	-1	2
4	[2, 2]	-1	1
5	[1, -2]	-1	0

In [3]:
data = [([-4, 2], 1), ([-2, 1], 1), ([-1, -1], -1), ([2, 2], -1), ([1, -2], -1)]

In [4]:
data

[([-4, 2], 1), ([-2, 1], 1), ([-1, -1], -1), ([2, 2], -1), ([1, -2], -1)]

In [28]:
theta_0, theta_1, theta_2 = 0, 0, 0

In [29]:
for i in range(1, 5):
  print("Ejecución #{0}".format(i))
  for j in range(len(data)): 
    print("\tObservation #{0}".format(j+1))
    print("\t{0} * ({1} * {2} + {3} * {4} + {5} <= 0 --> {6} <= 0)".format(data[j][1], data[j][0][0], theta_1, data[j][0][1], theta_2, theta_0, (data[j][1] * (data[j][0][0] * theta_1 + data[j][0][1] * theta_2 + theta_0)) ) )
    if (data[j][1] * (data[j][0][0] * theta_1 + data[j][0][1] * theta_2 + theta_0)) <=0:
      theta_0 += data[j][1]
      theta_1 += data[j][1] * data[j][0][0]
      theta_2 += data[j][1] * data[j][0][1]

      print("\t\tUpdate theta_0: {0}, theta_1: {1}, theta_2: {2}".format(theta_0, theta_1, theta_2))

Ejecución #1
	Observation #1
	1 * (-4 * 0 + 2 * 0 + 0 <= 0 --> 0 <= 0)
		Update theta_0: 1, theta_1: -4, theta_2: 2
	Observation #2
	1 * (-2 * -4 + 1 * 2 + 1 <= 0 --> 11 <= 0)
	Observation #3
	-1 * (-1 * -4 + -1 * 2 + 1 <= 0 --> -3 <= 0)
		Update theta_0: 0, theta_1: -3, theta_2: 3
	Observation #4
	-1 * (2 * -3 + 2 * 3 + 0 <= 0 --> 0 <= 0)
		Update theta_0: -1, theta_1: -5, theta_2: 1
	Observation #5
	-1 * (1 * -5 + -2 * 1 + -1 <= 0 --> 8 <= 0)
Ejecución #2
	Observation #1
	1 * (-4 * -5 + 2 * 1 + -1 <= 0 --> 21 <= 0)
	Observation #2
	1 * (-2 * -5 + 1 * 1 + -1 <= 0 --> 10 <= 0)
	Observation #3
	-1 * (-1 * -5 + -1 * 1 + -1 <= 0 --> -3 <= 0)
		Update theta_0: -2, theta_1: -4, theta_2: 2
	Observation #4
	-1 * (2 * -4 + 2 * 2 + -2 <= 0 --> 6 <= 0)
	Observation #5
	-1 * (1 * -4 + -2 * 2 + -2 <= 0 --> 10 <= 0)
Ejecución #3
	Observation #1
	1 * (-4 * -4 + 2 * 2 + -2 <= 0 --> 18 <= 0)
	Observation #2
	1 * (-2 * -4 + 1 * 2 + -2 <= 0 --> 8 <= 0)
	Observation #3
	-1 * (-1 * -4 + -1 * 2 + -2 <= 0 --> 0 <= 0)
		Update theta_0: -3, theta_1: -3, theta_2: 3
	Observation #4
	-1 * (2 * -3 + 2 * 3 + -3 <= 0 --> 3 <= 0)
	Observation #5
	-1 * (1 * -3 + -2 * 3 + -3 <= 0 --> 12 <= 0)
Ejecución #4
	Observation #1
	1 * (-4 * -3 + 2 * 3 + -3 <= 0 --> 15 <= 0)
	Observation #2
	1 * (-2 * -3 + 1 * 3 + -3 <= 0 --> 6 <= 0)
	Observation #3
	-1 * (-1 * -3 + -1 * 3 + -3 <= 0 --> 3 <= 0)
	Observation #4
	-1 * (2 * -3 + 2 * 3 + -3 <= 0 --> 3 <= 0)
	Observation #5
	-1 * (1 * -3 + -2 * 3 + -3 <= 0 --> 12 <= 0)